<div class="body vh-100 pt-5">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="text-center">
            <h1>Turnos</h1>
        </div>
        <div *ngIf="turnos.length == 0" class="text-center">
            <h3>No hay turnos cargados</h3>
        </div>
        <table *ngIf="turnos.length > 0" class="table table-bordered table-striped table-hover text-center tablaTurnos">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre de Paciente</th>
                    <th scope="col">Especialista</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Fecha y hora</th>         
                    <th scope="col">Estado</th>         
        
                </tr>
                        
            </thead>
            <tbody>
                <tr class="trPointer" *ngFor="let turno of turnos" >           
                    <th scope="row" class="align-middle">{{ turno.paciente.nombre |titlecase}} {{turno.paciente.apellido |titlecase}}</th>
                    <td class="align-middle">{{ turno.especialista.nombre |titlecase }} {{ turno.especialista.apellido |titlecase}}</td>
                    <td class="align-middle">{{ turno.especialidad |titlecase}}</td>
                    <td class="align-middle">{{ turno.fecha }} {{turno.hora}}</td>
                    <td class="align-middle fw-bold">{{ turno.estado |titlecase}} </td>
                    <td><button type="button" class="btn btn-outline-warning fs-6" (click)="verResenia()">Ver reseña</button></td>
                    <td><button type="button" class="btn btn-outline-success fs-6" (click)="calificarAtencion()">Calificar atencion</button></td>
                    <td><button type="button" class="btn btn-outline-danger fs-6"  (click)="cancelarTurno()">Cancelar turno</button></td>
                </tr>
            </tbody>
        </table>

        <!-- <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Mi Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.paciente.nombre |titlecase}} {{element.paciente.apellido}}</td>
            </ng-container>
            <ng-container matColumnDef="especialistaNombre">
                <th mat-header-cell *matHeaderCellDef>Nombre Especialista</th>
                <td mat-cell *matCellDef="let element">{{element.especialista.nombre |titlecase}}</td>
            </ng-container>
            <ng-container matColumnDef="especialistaApellido">
                <th mat-header-cell *matHeaderCellDef>Apellido Especialista</th>
                <td mat-cell *matCellDef="let element">{{element.especialista.apellido}}</td>
            </ng-container>
            <ng-container matColumnDef="especialidad">
                <th mat-header-cell *matHeaderCellDef>Especialidad</th>
                <td mat-cell *matCellDef="let element">{{element.especialidad |titlecase}}</td>
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
            </ng-container>
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let element">{{element.hora}}</td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">{{element.estado |titlecase}}</td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table> -->
        <button mat-raised-button color="warn" routerLink="/home">Volver</button>
    </div>
    
</div>
