<div class="modal fade" id="mostrarHistoriaClinica" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        
            <div class="modal-content" >
                <div class="modal-header">
                  <!-- <h1 *ngIf="dataTurno" class="modal-title fs-5" id="exampleModalLabel">{{dataTurno.estado}}</h1> -->
                  <h1>Historia Clinica</h1>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button> -->
                </div>
                <div class="modal-body">
                   <!-- Message input -->
                   
                   <div class="d-flex flex-wrap">
                        <div class="d-flex flex-column w-25 mx-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Altura</mat-label>
                                <input matInput type="text">
                                {{historiaClinica.altura}}
                            </mat-form-field>
                            <!-- <mat-error *ngIf="encuestaForm.controls['texto'].errors?.['minlength']">El texto debe tener 6 caracteres como minimo</mat-error>  -->
                        </div>
                        <div class="d-flex flex-column w-25 mx-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Peso</mat-label>
                                <input matInput type="text">
                                {{historiaClinica.peso}}
                            </mat-form-field>
                            <!-- <mat-error *ngIf="encuestaForm.controls['texto'].errors?.['minlength']">El texto debe tener 6 caracteres como minimo</mat-error>  -->
                        </div>
                        <div class="d-flex flex-column w-25 mx-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Temperatura</mat-label>
                                <input matInput type="text" >
                                {{historiaClinica.temperatura}}
                            </mat-form-field>
        
                        </div>
                        <div class="d-flex flex-column w-25 mx-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Presion</mat-label>
                                <input matInput type="text" >
                                {{historiaClinica.presion}}
                            </mat-form-field>
                            <!-- <mat-error *ngIf="encuestaForm.controls['texto'].errors?.['minlength']">El texto debe tener 6 caracteres como minimo</mat-error>  -->
                        </div> 
        
                    </div>
                    <hr>
                    <div class="d-flex flex-column">
                        <div class="row" *ngFor="let dato of historiaClinica.datosDinamicos |keyvalue">
                            <mat-form-field appearance="fill" class="w-25 mx-3">
                                <mat-label>{{dato.key |titlecase}}</mat-label>
                                <input matInput type="text" >
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-25 mx-3" >
                                
                                <input matInput type="text" >{{dato.value}}
                            </mat-form-field>
                        </div>
                        
                    </div>
                   <!-- <div class="form-outline mb-4">
                    <p>{{comentarioTurno}}</p>               
                    </div> -->
                </div>
                <div class="modal-footer">
                    
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <!-- <button class="btn btn-primary" data-bs-dismiss="modal" [disabled]="historiaClinicaForm.invalid" (click)="enviar()">Enviar</button> -->
                  <!-- <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="encuestaForm.invalid" (click)="enviarEncuesta()">Enviar</button> -->
                </div>
              </div>
        
      
    </div>

</div>




