<div class="body vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="container">

        <div class="row mb-5">
            <h1 class="text-center ">Solicitar turno</h1>

        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-md-6">
                <div *ngIf="esAdmin && todosLosPacientes.length > 0">
                    <h3 class="fw-bold">Seleccione el paciente</h3>

                    <!-- <button mat-raised-button color="primary" class="m-2" *ngFor="let especialidad of especialidades" (click)="especialidadSeleccionada(especialidad)">
                        {{especialidad | titlecase}} 
                    </button> -->
                    <div class="d-flex flex-wrap">

                        <div *ngFor="let paciente of todosLosPacientes" class="text-center">
                            <button mat-raised-button color="primary" class="m-2 btn-espec" title="{{paciente.nombre | titlecase}} {{paciente.apellido |titlecase}}" (click)="cargarPaciente(paciente)" >
                                <!-- <img *ngIf="especialidad.urlFoto?.startsWith('https')" src="{{especialidad.urlFoto}}" alt="algo" class="img-espec rounded-circle"> -->
                                {{paciente.nombre | titlecase}} {{paciente.apellido}}
                            </button>
                            <!-- <p class="fw-bold">{{.descripcion | titlecase}}</p> -->

                        </div>
                    </div>
                    
                    
                </div>

                <div *ngIf="especialidades.length > 0 && mostrarEspec">
                    <h3 class="fw-bold">Seleccione la especialidad</h3>

                    <!-- <button mat-raised-button color="primary" class="m-2" *ngFor="let especialidad of especialidades" (click)="especialidadSeleccionada(especialidad)">
                        {{especialidad | titlecase}} 
                    </button> -->
                    <div class="d-flex">

                        <div *ngFor="let especialidad of especialidadesFiltradasObjeto" class="text-center">
                            <button mat-raised-button color="primary" class="m-2 btn-espec rounded-circle" title="{{especialidad.descripcion | titlecase}}"  (click)="especialidadSeleccionada(especialidad.descripcion)">
                                <img *ngIf="especialidad.urlFoto?.startsWith('https')" src="{{especialidad.urlFoto}}" alt="algo" class="img-espec rounded-circle">
                            </button>
                            <p class="fw-bold">{{especialidad.descripcion | titlecase}}</p>

                        </div>
                    </div>
                    
                    
                </div>
                <br>
            
                <div *ngIf="especialistas.length > 0" class="mt-2">
                    <h3 class="fw-bold">Selecciones el especialista</h3>
                    
                    <div class="d-flex">
                        <div *ngFor="let especialista of especialistas" class="text-center">
                            <button mat-raised-button class="m-2 btn-espec rounded-circle" color="primary"  (click)="especialistaSeleccionada(especialista)">
                                <img *ngIf="especialista.imagen1?.startsWith('https')" src="{{especialista.imagen1}}" alt="algo" class="img-espec rounded-circle">
                            </button>
                            <p class="fw-bold">{{especialista.nombre | titlecase}} {{especialista.apellido}}</p>
                        </div>
                    </div>
                    

                    
            
                </div>
            
                <div class="mt-4" *ngIf="fechasParseadas.length > 0">
                    <h3 class="fw-bold">Selecciones la fecha</h3>
                    <button mat-raised-button color="accent" class="m-2" *ngFor="let fecha of fechasParseadas" (click)="fechaSeleccionada(fecha)">
                        {{fecha}}
                    </button>
                </div>
            
                <div *ngIf="botonesHorarios.length > 0" class="mt-4" >

                    <h3 class="fw-bold">Seleccione la hora</h3>
                    <button mat-raised-button color="warn" class="m-2" *ngFor="let hora of botonesHorarios" (click)="horaSeleccionada(hora)">
                        {{hora}}
                    </button>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center border-start border-dark">

                <div class="justify-content-center">
                    
                    <form [formGroup]="turnosForm">

                        <div *ngIf="esAdmin" class="row ">
                            <div class="col-md-6">
                                <!-- <p>El turno es para la especialidad {{especialidad |titlecase}}</p> -->
                                <mat-form-field  appearance="fill" class="ancho">
                                    <mat-label>Paciente</mat-label>
                                    <input matInput readonly formControlName="paciente" style="text-transform: capitalize;"/>
                                    
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-6">
                                <!-- <p>El turno es para la especialidad {{especialidad |titlecase}}</p> -->
                                <mat-form-field  appearance="fill" class="ancho">
                                    <mat-label>Especialidad</mat-label>
                                    <input matInput readonly formControlName="especialidad" style="text-transform: capitalize;"/>
                                    
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6">
                                <!-- <p>Nombre del doctor: <span *ngIf="especialista">{{especialista.nombre |titlecase}} {{especialista.apellido |titlecase}}</span></p> -->
                                <mat-form-field appearance="fill" class="ancho">
                                    <mat-label>Especialista</mat-label>
                                    <input  matInput formControlName="especialista" />                                
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6">
                                <!-- <input type="text" readonly [value]="fecha"> -->
                                <mat-form-field appearance="fill" class="ancho">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput  readonly="" formControlName="fecha" />                                
                                </mat-form-field>
                                
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6">
                                <!-- <input type="text" readonly [value]="hora"> -->
                                <mat-form-field appearance="fill" class="ancho">
                                    <mat-label>Hora</mat-label>
                                    <input matInput readonly formControlName="hora" />                                
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            
                            <button mat-raised-button color="primary" type="submit" [disabled]="formInvalido" (click)="guardarTurno()">Solicitar turno</button>
                        </div>

                    </form>
                        <!-- <input type="text" readonly [value]="especialidad"> -->
                        
                        <!-- <input type="text" readonly value="{{especialista.nombre}} {{especialista.apellido}}"> -->
                        
                        <!-- <input type="text" readonly value="{{especialista.nombre}} {{especialista.apellido}}"> -->
                        
                        
        
                        
                    
                </div>

                

            </div>
        </div>

        <div class="row mt-5">
            <button mat-raised-button color="warn" class="w-25" routerLink="/home">Volver</button>
        </div>
    
        
    
        
    
    
    </div>
</div>



